.Main-Sec-SignUp {
  width: 80%;
  margin: 0 auto;
  background: white;
  margin-top: 70px;
  border-radius: 60px 60px 0px 0px;
  text-align: center;
  box-shadow: 0 0 15px 1px rgb(0 0 0 / 40%);
}
.heading-signup {
  padding: 26px 26px;
  padding-bottom: 12px;
}
.heading-signup h3 {
  margin: 0;
}
.Sec-BS{
    padding: 10px 26px;
}
.input-BS {
  width: 100%;
  height: 100%;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid grey;
}
