.background-BS {
  height: 400px;
  background-color: black;
}

.heading-signup {
  padding: 26px 26px;
  padding-bottom: 12px;
}
.heading-signup h3 {
  margin: 0;
  font-weight: bold;
}

.input-BS {
  width: 100%;
  height: 100%;
  font-size: 14px;
  padding: 12px 10px;
  border-radius: 5px;
  border: 1px solid #d8d9db;
}
.text-detect-BS {
  background: #2d2d2d;
  border-radius: 4px;
  position: absolute;
  font-size: 0px;
  line-height: 1;
  right: 12px;
  width: 120px;
  height: 42px;
  text-align: center;
  margin: 0 auto;
  display: grid;
  align-content: center;
}
.text-detect-BS h6 {
  margin: 0 auto;
  color: white;
}

.black-btn {
  width: 180px;
  height: 46px;
  background: #2d2d2d;
  color: white;
  border: white;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s linear;
  font-family: Raleway;
}
.black-btn:hover {
  background: white;
  color: black;
  border: 1px solid black;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.1);
  transform: scale(1.008);
  transition: all 0.3s ease;
}
.symbols-pulse {
  position: absolute;
  top: 58%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: -1;
}
.symbols-pulse > div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.04)),
    color-stop(65%, rgba(255, 255, 255, 0.04)),
    to(rgba(255, 255, 255, 0.04))
  );
  background-image: -webkit-linear-gradient(
    top,
    rgba(93, 220, 149, 0.459) 0%,
    rgba(93, 220, 149, 0.459) 65%,
    rgba(93, 220, 148, 0.459) 100%
  );
  background-image: -o-linear-gradient(
    top,
    rgba(93, 220, 149, 0.459) 0%,
    rgba(93, 220, 149, 0.459) 65%,
    rgba(93, 220, 148, 0.459) 100%
  );
  background-image: linear-gradient(
    -180deg,
    rgba(93, 220, 149, 0.459) 0%,
    rgba(93, 220, 149, 0.459) 65%,
    rgba(93, 220, 148, 0.459) 100%
  );
  width: 28rem;
  height: 28rem;
  z-index: -1;
  border-radius: 100%;
}
.symbols-pulse .pulse-1 {
  -webkit-transform: translate(-100%, -50%) scale(0.67);
  -ms-transform: translate(-100%, -50%) scale(0.67);
  transform: translate(-100%, -50%) scale(0.67);
}
.symbols-pulse .pulse-2 {
  -webkit-transform: translate(-100%, -50%) scale(1.05);
  -ms-transform: translate(-100%, -50%) scale(1.05);
  transform: translate(-100%, -50%) scale(1.05);
}
.symbols-pulse .pulse-3 {
  -webkit-transform: translate(-100%, -50%) scale(1.63);
  -ms-transform: translate(-100%, -50%) scale(1.63);
  transform: translate(-100%, -50%) scale(1.63);
}
.symbols-pulse .pulse-4 {
  -webkit-transform: translate(-100%, -50%) scale(2.1);
  -ms-transform: translate(-100%, -50%) scale(2.1);
  transform: translate(-100%, -50%) scale(2.1);
}
.beta-heading{
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}
.beta-heading span{
  color: #439548;
}
.beta-text {
  font-size: 16px;
  font-weight: unset;
}
.beta-img {
  margin-left: -118px;
  width: 250px !important;
}
@media screen and (min-width: 320px) {
  .Main-Sec-SignUp {
    width: 95%;
    margin: 120px auto;
    background: white;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 15px 1px rgb(0 0 0 / 40%);
  }
  .beta-section {
    margin: 120px 0 !important;
    background-color: #ffffff59;
    padding: 20px;
  }
  .SecRow-BS {
    padding: 0px 26px;
    display: block;
  }
  .Sec-BS {
    padding: 10px 0px;
    position: relative;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 auto;
    width: 8.33333333% !important;
  }
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333% !important;
  }
  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667% !important;
  }
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.66666667% !important;
  }
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
@media screen and (min-width: 320px) and (max-width: 991px) {
  .symbols-pulse > div {
    left: 30%;
    top: 40%;
  }
  .symbols-pulse {
    left: 30%;
    top: 45%;
  }
}

@media screen and (min-width: 992px) {
  .Main-Sec-SignUp {
    width: 100%;
    margin: 50px 0px;
    background: white;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 15px 1px rgb(0 0 0 / 40%);
  }
  .beta-section {
    margin: 50px 0 !important;
    background-color: #ffffff59;
    padding: 20px;
  }
  .SecRow-BS {
    padding: 5px 10px;
    /* display: flex; */
  }
  .Sec-BS {
    padding: 5px 26px;
    position: relative;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1050px) {
  .beta-img {
    width: 200px !important;
    margin-left: -100px;
  }
}
