.background-BL {
    height: 360px;
    background-color: black;
  }
.Main-Sec-Login {
  width: 40%;
  margin: 0 auto;
  background: white;
  margin-top: -200px;
  border-radius: 60px;
  text-align: center;
  box-shadow: 0 0 15px 1px rgb(0 0 0 / 40%);
}
.SecRow-BL {
  padding: 5px 66px 0px 66px;
}
.forget-pass-BL {
  padding: 10px 66px;
}
.forget-pass-BL h6 {
  font-size: 12px;
  color: #0083C7;
  text-align: left;
  margin: 0;
  text-decoration: underline;
}
