
  .border-change-password{
    background-color: white;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    overflow: hidden;
    margin: 20px 30px;
    margin-left: 10px;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
  }
  .heading-change-password{
    padding: 20px;
      padding-bottom: 5px;
      padding-top: 20px;
  }
  .heading-change-password h6{
    text-align: center;
    font-size: 1.04rem;
    margin-bottom: 0px;
  }
  .button-save-changes {
    padding-bottom: 30px;
    padding-top: 40px;
    text-align: center;
    width: 100%;
  }
  .button-save-changes a {
    background: #2a2a2a;
    border-radius: 3px;
    color: white;
    display: inline-block;
    padding: 10px 30px;
    transition: all 0.25s ease-out;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
  }
  .button-save-changes a:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    letter-spacing: 0.2px;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    text-decoration: none;
  }