


  @media screen and (min-width: 320px) {
    .width-checkbox-F{
      width: 50%;
    }
    .main {
      display: block;
        position: relative;
        padding-left: 35px;
        margin-top: 15px;
        margin-left: 5px;
        margin-bottom: 0px;
        cursor: pointer;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }
    .text-dineout{
      font-size: 14px;
      margin-bottom: -20px;
      color: #747474;
    }
    /* Hiding the initial checkbox */
    input[type=checkbox] {
      visibility: hidden;
    }
    /* Creating a custom checkbox based on demand */
    .w3docs {
      position: absolute;
        top: 0;
        left: 0;
        height: 17px;
        width: 17px;
        background-color: white;
        border-radius: 3px;
        border: 1px solid #9F9F9F;
    }
    /* Specify the background color to be shown when hovering over checkbox */
    /* .main:hover input ~ .w3docs {
      background-color: #9F9F9F;
    } */
    /* Specify the background color to be shown when checkbox is active */
    .main input:active ~ .w3docs {
      background-color: white;
    }
    /* Specify the background color to be shown when checkbox is checked */
    .main input:checked ~ .w3docs {
      background-color: #0083C7;
    }
    /* Checkmark to be shown in checkbox */
    /* It is not be shown when not checked */
    .w3docs:after {
      content: "";
      position: absolute;
      display: none;
    }
    /* Display checkmark when checked */
    .main input:checked ~ .w3docs:after {
      display: block;
    }
    /* Styling the checkmark using webkit */
    /* Rotated the rectangle by 45 degree and 
    showing only two border to make it look
    like a tickmark */
    .main .w3docs:after {
      left: 5px;
      bottom: 3px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  @media screen and (min-width: 992px) {
    .width-checkbox-F{
      width: 100%;
    }
    .main {
      display: block;
        position: relative;
        padding-left: 35px;
        margin-top: 15px;
        margin-left: 5px;
        margin-bottom: 8px;
        cursor: pointer;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        align-content: center;
        justify-items: center;
    }
    .text-dineout{
      font-size: 15px;
      margin-bottom: -20px;
      color: #747474;
    }
    /* Hiding the initial checkbox */
    input[type=checkbox] {
      visibility: hidden;
    }
    /* Creating a custom checkbox based on demand */
    .w3docs {
      position: absolute;
        top: 0;
        left: 0;
        height: 17px;
        width: 17px;
        background-color: white;
        border-radius: 3px;
        border: 1px solid #9F9F9F;
    }
    /* Specify the background color to be shown when hovering over checkbox */
    /* .main:hover input ~ .w3docs {
      background-color: #9F9F9F;
    } */
    /* Specify the background color to be shown when checkbox is active */
    .main input:active ~ .w3docs {
      background-color: white;
    }
    /* Specify the background color to be shown when checkbox is checked */
    .main input:checked ~ .w3docs {
      background-color: #0083C7;
    }
    /* Checkmark to be shown in checkbox */
    /* It is not be shown when not checked */
    .w3docs:after {
      content: "";
      position: absolute;
      display: none;
    }
    /* Display checkmark when checked */
    .main input:checked ~ .w3docs:after {
      display: block;
    }
    /* Styling the checkmark using webkit */
    /* Rotated the rectangle by 45 degree and 
    showing only two border to make it look
    like a tickmark */
    .main .w3docs:after {
      left: 5px;
      bottom: 3px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }