
.restaurentItem-carousel .box-restaurent .img-restaurent{
  height: 170px;
}
.restaurentItem-carousel > li{
  width: 270px !important;
}
@media screen and (min-width: 280px) {
  .marginMain {
    padding: 0px 0px 0px 12px;
    padding-top: 90px;
    margin: 0 auto 97px auto;
  }
}
@media screen and (min-width: 576px) {
  .restaurentItem-carousel .box-restaurent {
    width: 270px;
  }
}
@media screen and (min-width: 992px) {
  .marginMain {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 0px;
    padding-left: 0px;
  }
}
