

@media screen and (min-width: 320px) {
  .marginMain {
    padding: 0px 0px 0px 15px;
    padding-top: 150px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 992px) {
  .marginMain {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 0px;
    padding-left: 0px;
  }
}
