.dashboard_image {
  height: 460px;
}
.dashboard_image img {
  width: 100%;
  height: 100%;
}
.Sec-Crave-Search{
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 32%;
  left: 50%;
  z-index: 1;
}
.heading_Its_now_safe_to {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 37px;
  letter-spacing: 1px;
}
.crave {
  background-color: #439548;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 19px;
}
.search-top-search {
  width: 100%;
  position: relative;
  display: flex;
}

.image-mobile-top-search {
  position: absolute;
  left: 10px;
  top: 3px;
}
.searchTerm-top-search {
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 41px;
  border-right: none;
  padding: 5px;
  padding-left: 25px;
  height: 60px;
  outline: none;
  font-size: medium;
}

.searchTerm-top-search:focus {
  color: #000000;
}

.searchButton-top-search {
  width: 90px;
  /* height: 47px; */
  border: 1px solid #439548;
  background: #439548;
  border-radius: 41px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  transform: translate(-60px, 0px);
}
.text-search-link-top-search {
  justify-content: center;
  color: white;
  display: flex;
  font-size: 15px;
}
/*Resize the wrap to see the search bar change!*/
.wrap-top-search {
  width: 60%;
  position: absolute;
  left: 22%;
  z-index: 1;
}

.box-searchBar {
  position: absolute;
  background: #fff;
  border-radius: 5px;
  width: 68%;
  left: 26px;
  top: 57px;
  height: 450px;
  overflow-x: hidden;
  overflow-y: overlay;
  z-index: 1;
  box-shadow: 0 2px 5px rgb(0 0 0 / 20%);
}
.box-searchBar::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.align-box-searchBar {
  padding: 20px;
}
.list-box-searchBar {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  margin: 0 0 1rem;
  padding: 0 0 1rem;
}
.img-box-searchBar {
  margin-right: 10px;
}
.details-box-searchBar {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding: 0 1rem 0 0;
  text-align: left;
}
.details-box-searchBar:after {
  border-bottom: 1px solid rgba(158, 158, 158, 0.3);
  position: absolute;
  left: 52px;
  bottom: 0;
  right: 0;
  content: "";
}
.title-name-searchBar {
  margin: 0;
  font-size: 14px;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.title-location-box-searchBar {
  margin-left: auto;
  font-size: 12px;
  color: #999;
}
.rating-search-box {
  width: 30px;
  height: 20px;
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 600;
  margin: inherit;
  margin-left: auto;
  text-align: center;
  background: #439548;
}
.align-box-searchPop{
  padding: 5px 12px;
}

@media screen and (min-width: 320px) {
  .dashboard_image {
    display: none;
    cursor: pointer;
    backface-visibility: hidden;
    visibility: hidden;
  }
}

@media screen and (min-width: 992px) {
  .dashboard_image {
    display: block;
    cursor: pointer;
    backface-visibility: visible;
    visibility: visible;
  }
}
