.toggle-brands {
  display: flex;
  grid-gap: 16px;
}
.brands-context-btn {
  display: flex;
  align-items: center;
  cursor: pointer;
  background: rgb(6 56 108 / 10%);
  padding: 0px 7px 0px 20px;
  border-radius: 40px;
  transition: all 0.2s ease;
}
.brands-context-btn:hover {
  background: rgb(6 56 108 / 25%);
}
.blue-cross-btn {
  color: #06386c;
  background: #ffffff00;
  width: 36px;
  height: 100%;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 0;
  padding-top: 3px;
}
.brands-context-btn span {
  color: #06386c;
  font-size: 13px;
}
.outlets-header span {
  font-weight: normal;
}
.blue-setting-btn {
  color: #06386c;
  background: rgb(6 56 108 / 10%);
  width: 44px;
  height: 100%;
  font-size: 22px;
  border: none;
  outline: none;
  padding-top: 4px;
  border-radius: 5px;
}

/* Switch */

.switch-M {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

.switch-M input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider-M {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider-M:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider-M {
  background-color: #5ddc95;
}

input:focus + .slider-M {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider-M:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider-M.round-M {
  border-radius: 34px;
}

.slider-M.round-M:before {
  border-radius: 50%;
}
.right-outlets-header .text-allTime {
  background: rgb(6 56 108 / 10%);
  font-size: 13px;
  border-radius: 10px;
  padding: 2px 8px;
}
.like-dislike {
    padding: 22px 26px;
    margin-bottom: 60px;
}
.like-sec {
  float: left;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background: #5ddc95;
  padding: 12px 20px;
    height: 52px;
  justify-content: center;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
}
.like-sec h2 {
  margin: 0 auto;
  font-size: 24px;
  color: #fff;
  display: inline-block;
  line-height: 30px;
  font-weight: 600;
  align-self: center !important;
  margin-bottom: 0;
}
.like-sec span {
  font-size: 14px;
  font-weight: 400;
}
.dislike-sec {
  float: left;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: #dc5d5d;
  padding: 12px 20px;
    height: 52px;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 10%);
}
.dislike-sec h2 {
    margin: 0 auto;
  font-size: 24px;
  color: #fff;
  display: inline-block;
  line-height: 30px;
  font-weight: 600;
  align-self: center !important;
  margin-bottom: 0;
}
.dislike-sec span {
  font-size: 14px;
  font-weight: 400;
}
.feedback-boxes{
    display: flex;
    justify-content: center;
}
.feedback-box{
    width: 46%;
    height: 100%;
    background: rgb(6 56 108 / 10%);
    margin: 14px;
    align-content: center;
    border-radius: 30px;
    text-align: center;
    padding: 40px 0px;
}
.content-feedback-box{
    display: flex;
    place-content: center;
    grid-gap: 60px;
}
.details-feedback-box{
    place-self: center;
}
.details-feedback-box h1{
    font-weight: bold;
    color: #06386C;
    font-size: 32px;
    margin-bottom: 16px;
}
.details-feedback-box h2{
    font-weight: lighter;
    color: #06386C;
    font-size: 24px;
    margin: 0;
}
.feedback-boxImg{

}

.search-feedback {
  width: 100%;
  min-width: 282px;
  border-radius: 15px;
  }
  .search-feedback .form-input-feedback {
    display: flex;
    align-items: center;
    height: 0px;
  }
  .search-feedback .form-input-feedback input {
    flex-grow: 1;
    padding: 20px 16px;
    height: 100%;
    border: none;
    background: rgb(6 56 108 / 10%);
    border-radius: 25px 0 0 25px;
    outline: none;
    width: 100%;
    font-size: 11px;
  }
  .search-feedback .form-input-feedback input::placeholder {
    color: #a19e9e;
  }
  .search-feedback .form-input-feedback button {
    width: 36px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(6 56 108 / 10%);
    color: #a19e9e;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0 25px 25px 0;
    padding: 20px;
  }