.color{
    font-family:Raleway;
  background-color: #ECECEC;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

  
  
  .div-top-boxes-content{
    align-items: center;
    display: flex;
    text-rendering: optimizespeed;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    margin-bottom: 50px;
  }
  .align-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px -10px;
  }
  .grey{
      color:grey;
  }
  .adjust{
    width:25%;
  }
  .alignment{
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    
  }
  .listing_sidebar{
    position: sticky;
    top: 70px;
    height: calc(100vh - 3vh);
    overflow-y: scroll;
    overflow-x: hidden;
    width: -webkit-fill-available;

  }
  .listing_sidebar::-webkit-scrollbar {
    width: 8px;
    background: #ECECEC;
    border-radius: 0 8px 8px 0;
  }
  
  .listing_sidebar::-webkit-scrollbar-thumb {
    background: #c3c3c39c;
    border-radius: 0 8px 8px 0;
  }

  @media screen and (min-width: 320px) {
    .container-padding{
      padding: 0 !important;
    }
    .main-section{
      display: flex;
      margin-top: 0px;
      text-rendering: optimizespeed;
      display: -ms-flexbox;
      -ms-flex-flow: row wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-flow: row wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
    }
    .right-section{
      width: 100%;
      padding-bottom: 50px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .container-padding{
      padding: 0px 12px 0px 12px !important;
    }
    .main-section{
      display: flex;
      margin-top: 30px;
      text-rendering: optimizespeed;
      display: -ms-flexbox;
      -ms-flex-flow: row wrap;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      flex-flow: row wrap;
      -ms-flex-line-pack: start;
      align-content: flex-start;
    }
    .right-section{
      width: 71%;
      margin-left: 20px;
      padding-bottom: 50px;
    }
  }