.D-contents {
  display: contents !important;
}
.accordion-content {
  background-color: white;
  padding-left: 8px;
  padding-bottom: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}
.accordion-content-hide {
  background-color: white;
  padding-left: 8px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
  display: none;
}

@media screen and (min-width: 280px) {
  button.accordion {
    width: 50%;
    background-color: white;
    border: none;
    outline: none;
    text-align: left;
    padding: 10px 12px 0px;
    font-size: 14px;
    font-weight: 600;
    color: #6c6c6c;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }
  button.accordion:hover,
  button.accordion.is-open {
    display: block;
  }
  .searchTerm-quick-filters {
    display: none;
  }
  .align-checkbox-F{
    display:flex;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 992px) {
  button.accordion {
    width: 100%;
    background-color: white;
    border: none;
    outline: none;
    text-align: left;
    padding: 10px 13px;
    font-size: 15px;
    font-weight: 600;
    color: #6c6c6c;
    cursor: pointer;
    transition: background-color 0.2s linear;
  }
  button.accordion:hover,
  button.accordion.is-open {
    background: #439548;
    color: white;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.1);
    transform: scale(1.008);
    transition: all 0.3s ease;
  }
  button.accordion:after {
    content: "\f067";
    font-family: "fontawesome";
    font-size: 14px;
    float: right;
  }
  button.accordion.is-open:after {
    content: "\f068";
  }
  .searchTerm-quick-filters {
    display: block;
    border: none;
    height: 35px;
    font-size: 13px;
    width: 96%;
    font-weight: 500;
    padding-left: 15px;
    margin-top: 10px;
    background-color: #efefef;
    border-radius: 5px;
  }
  .align-checkbox-F{
    display:block;
  }
}
