.color{
    font-family:Raleway;
  background-color: #ECECEC;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.main-section{
    display: flex;
    margin-top: 30px;
    text-rendering: optimizespeed;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .right-section{
    width: 71%;
    margin-left: 20px;
    padding-bottom: 50px;
  }
  
  .div-top-boxes-content{
    align-items: center;
    display: flex;
    text-rendering: optimizespeed;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    margin-bottom: 50px;
  }
  .align-boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px -10px;
  }
  .grey{
      color:grey;
  }