.filter-P-restaurent-image {
  height: 180px;
  position: relative;
}
.filter-P-restaurent-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-sizing: border-box;
  border-radius: 5px;
}
.filter-P-restaurent-detail-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.filter-P-restaurent-name {
  display: flex;
  flex-direction: column;
}
.filter-P-restaurent-name p {
  color: #222222;
  margin: 5px 0px;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding-right: 8px;
  text-decoration: none;
  font-size: 17px;
  margin-bottom: 5px;  line-height: 20px;
}
.booked-box {
  padding-top: 5px;
  border-top: 1px solid #94949430;
}
.filter-P-restaurent-name a:hover {
  text-decoration: none;
  color: black;
}
.filter-P-rating-box {
  top: 2%;
  right: 2%;
  position: absolute;
}
.filter-P-rating-box a {
  text-decoration: none;
}
.filter-P-rating-box a:hover {
  text-decoration: none;
  color: white;
}
.filter-P-rating {
  width: 40px;
  height: 30px;
  display: flex;
  background-color: #439548;
  color: #ffffff;
  font-weight: 400;
  letter-spacing: 1px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.filter-page-box .rating{
  position: absolute;
  top: 5px;
  right: 5px;
}
.filter-page-box .content-rating-stars{
  margin-top: 0 !important;
}
.filter-page-box .content-rating-stars span{
  line-height: 1;
}
.filter-P-restaurent-location {
  font-weight: 500;
  color: #949494;
  font-size: 10px;
  line-height: 17px;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.filter-P-offer {
  font-weight: bolder;
  color: #0083c7;
  font-size: 11px;
  margin-top: 7px;display: none;
}
.filter-P-text-booked {
  font-size: 12px;
  margin-left: 5px;
  font-weight: 700;
  color: black;
}

@media screen and (min-width: 320px) {
  .filter-page-box {
    width: auto;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    border-radius: 5px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 20px;
    background-color: #fff;
    cursor: pointer;
  }
  .filter-page-box a {
    text-decoration: none;
  }
  .filter-page-box:hover {
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.1);
    transform: scale(1.008);
    transition: all 0.3s ease;
  }
}

@media screen and (min-width: 992px) {
  .filter-page-box {
    width: 30.83%;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
    border-radius: 5px;
    overflow: hidden;
    margin: 10px;
    margin-top: 23px;
    margin-bottom: 0px;
    background-color: #fff;
    cursor: pointer;
  }
  .filter-page-box a {
    text-decoration: none;
  }
  .filter-page-box:hover {
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.1);
    transform: scale(1.008);
    transition: all 0.3s ease;
  }
}
