.top-tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}
.left-tools {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
.search-menu {
  max-width: 340px;
  width: 100%;
  margin-right: auto;
  min-width: -webkit-fill-available;
  border-radius: 15px;
  box-shadow: 0px 11px 6px rgb(0 0 0 / 10%);
}
.search-menu .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}
.search-menu .form-input input {
  flex-grow: 1;
  padding: 25px 16px;
  height: 100%;
  border: none;
  background: white;
  border-radius: 17px 0 0 17px;
  outline: none;
  width: 100%;
  font-size: 13px;
}
.search-menu .form-input input::placeholder {
  color: #a19e9e;
}
.search-menu .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #a19e9e;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 17px 17px 0;
  padding: 25px;
}

.Filters-menu {
  display: flex;
  align-items: initial;
  border-radius: 15px;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}
.filter-btn {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #a19e9e;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 17px 0px 0px 17px;
  padding: 15px;
  padding-left: 20px;
}
.Filters-menu span {
  background: white;
  padding: 14px 5px;
  padding-bottom: 13px;
  font-size: 14px;
  align-self: center;
  color: #a19e9e;
}
.downArrow-btn {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  color: #a19e9e;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0px 17px 17px 0px;
  padding: 15px;
  padding-right: 20px;
}

.right-tools {
  grid-gap: 16px;
  display: flex;
  flex-wrap: wrap;
  width: 39%;
}
.menu-Components-DD {
  width: 43%;
}
.dropdown-menu-Components{
  position: relative;
  display: flex;
  align-items: center;
}
.dropdown-menu-Components select{
  box-shadow: 0px 6px 6px rgb(0 0 0 / 10%);
  font-size: 13px;
  color: white;
  width: 100%;
  border: none;
  border-radius: 17px;
  height: 100%;
  display: block;
  background-color: #5d87dc;
  resize: vertical;
  box-sizing: border-box;
  min-height: 38px;
  padding: 17px 15px;
  -webkit-appearance: none;
  text-transform: none;
  font-family: inherit;
  line-height: 1.15;
  margin: 0;
}

.dropdown-menu-Components select:focus{
  outline: none;
}
option:before {
  content: ">";
  font-size: 20px;
  display: none;
  padding-right: 10px;
  padding-left: 5px;
  color: #fff;
}
option:hover:before {
  display: inline;
}
.dropdown-menu-Components .Darrow {
  position: absolute;
  pointer-events: none;
  right: 4px;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  min-width: 1.5rem;
  font-size: 0;
  line-height: 1;
}
.dropdown-menu-Components .Darrow img {
  width: 18px;
  height: 18px;
  margin-top: 4px;
}
.addMenuDetails-btn {
  background: #5d87dc;
  color: white;
  border: white;
  border-radius: 17px;
  padding: 14px 16px;
  font-size: 14px;
  transition: background-color 0.3s linear;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}
.addMenuDetails-btn:hover {
  background: #2455b9;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.1);
  transform: scale(1.008);
  transition: all 0.2s ease;
}

.addMenu-btn {
  background: #5ddc95;
  color: white;
  border: white;
  border-radius: 17px;
  padding: 14px 16px;
  font-size: 14px;
  transition: background-color 0.3s linear;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}
.addMenu-btn:hover {
  background: #43cb7f;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.1);
  transform: scale(1.008);
  transition: all 0.2s ease;
}

.save-btn {
  background: #5ddc95;
  color: white;
  border: white;
  border-radius: 17px;
  padding: 14px 30px;
  font-size: 14px;
  transition: background-color 0.3s linear;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.1);
}
.save-btn:hover {
  background: #43cb7f;
  box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.1);
  transform: scale(1.008);
  transition: all 0.2s ease;
}
