.overview {
    background: #06386C;
    color: white;
    border: white;
    border-radius: 12px;
    padding: 9px 18px;
    font-size: 14px;
    transition: background-color 0.3s linear;
    box-shadow: 0px 6px 6px rgba(0,0,0,0.10);
}
.overview:hover{
    background:#06386d;
    box-shadow: 2px 2px 18px rgba(0,0,0,0.10);
    transform: scale(1.008);
    transition: all  0.2s ease;
}
.catch-btn{
    background: transparent;
    color: #06386C ;
    border: #06386C 1px solid;
    border-radius: 12px;
    padding:9px 18px;
    font-size: 14px;
 
}

.right-tools{
    grid-gap: 16px;
    display: flex;
    flex-wrap: wrap;
}
.top-tools{
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}
.left-tools{
    display: flex;
    align-items: center;
    grid-gap: 16px;
}
.Content-graph-boxes{
    display: grid;
    gird-column: 2;
    margin: 20px 0px;
}

.selling-box{
    display: flex;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
 }

 .border-selling-box{
    background: white;
    border-radius: 25px;
    padding: 15px 0px;
    width: 100%;
    max-width: 480px
 }

 .content-selling-box{
    display: flex;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px 15px;
 }
 .title-selling-box{
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #06386C;
 }
 .selling-img{
    border: none;
    background: aliceblue;
    padding: 2px 15px;
    padding-top: 5px;
    border-radius: 10px;
 }
 .selling-graph{
    padding: 60px;
 }

 .border-selling-box-large{
    background: white;
    border-radius: 25px;
    padding: 15px 0px;
    width: 100%;

 }

 .top-recomendation{
    background: white;
    border-radius: 25px;
    padding: 15px 0px;
    width: 100%;
    margin-top: 20px;
 }
 .recom-table{
    display: flex;
    justify-content: space-between;
 }
 .table-row{
     display: flex;
 }
 .table-row p{
    color: #06386C;
    margin:0px 60px;
 }

 .table-row-2{
    display: flex;
}
.table-row-2 p{
    color: #06386C;
    margin:0px 50px;
 }
.see-more-btn{
    display: flex;
    justify-content: end;
    padding: 10px 20px;
}
.see-more{
    border: none;
    background: aliceblue;
    padding: 2px 15px;
    padding-top: 5px;
    border-radius: 10px;
    font-size:10px;
    align-items: right;
}