.text-search-SP {
  margin: 0 auto;
  color: white;
  font-weight: bold;
  font-size: 14px;
}
#form-auto-suggest{
    padding: 0px 12px;
}
.search-popUp {
  margin-top: 1.5rem;
  position: relative;
}
.search-popUp input {
  padding: 0 50px 0 24px;
  background: #f6f6f6;
  height: 42px;
  display: block;
  width: 100%;
  color: #666;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  border: none;
  outline: none;
}
.search-popUp i {
  width: 2rem;
  text-align: center;
  font-size: 1.6rem;
  position: absolute;
  top: 2%;
  right: 1rem;
}


