
  
  

  @media screen and (min-width: 280px) {
    .merge-section{
      display: flex;
    }
    .section-left-restaurent-details{
      width: 100%;
    }
    .restaurent_detail_page .restaurent-img-carousel .react-multi-carousel-item {
      max-width: 340px;
      margin-right: 15px;
      margin-left: 15px;
  }
  }
  
  
  @media screen and (min-width: 992px) {
    .merge-section{
      display: flex;
      margin: 0px 90px;
      margin-top: -80px;
    }
    .section-left-restaurent-details{
      width: 65%;
    }
  }