
.div-for-menu-buttons {
  display: flex;
  padding: 0;
  margin: 0 0 -16px;
  overflow-x: auto;
  flex-wrap: wrap;
}
.menu-button {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  text-align: center;
  height: unset;
  width: unset;
  padding: 8px 16px;
  margin: 0 16px 16px 0;
  border-radius: 0.125rem;
  transition: none;
  flex-shrink: 0;
  -webkit-appearance: button;
  background-color: #fff;
  color: #2d333f;
  border: 0.0625rem solid #d8d9db;
}
.menu-button:focus {
  border: 1px solid #439548;
  outline: none;
}
.menu-button-active {
  border: 1px solid #439548;
  padding: calc(8px - 1px) calc(16px - 1px);
}
.menu-button:hover {
  border: 1px solid #439548;
}
.hr-for-menu {
  margin: 25px 0px;
}
.content-menu-section h5 {
  font-weight: 700;
  font-size: 1rem;
}
.div-for-rating-menu {
  display: flex;
  justify-content: unset;
}
.rate-for-menu {
  width: fit-content;
}
.rate-for-menu:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate-for-menu:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 20px;
  color: #ccc;
}
.rate-for-menu:not(:checked) > label:before {
  content: "★ ";
}
.rate-for-menu > input:checked ~ label {
  color: #439548;
}
.rate-for-menu:not(:checked) > label:hover,
.rate-for-menu:not(:checked) > label:hover ~ label {
  color: #509955;
}
.rate-for-menu > input:checked + label:hover,
.rate-for-menu > input:checked + label:hover ~ label,
.rate-for-menu > input:checked ~ label:hover,
.rate-for-menu > input:checked ~ label:hover ~ label,
.rate-for-menu > label:hover ~ input:checked ~ label {
  color: #3db645;
}
.div-for-rating-menu p {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 5px;
  margin-bottom: -3px;
}
.text-menu-desc {
  font-size: 0.8rem;
  margin-bottom: 3px;
  color: black;
}
.text-menu-review {
  font-size: 0.9rem;
  color: black;
}
.button-view-full-menu {
  padding-bottom: 30px;
  padding-top: 40px;
  text-align: center;
  width: 100%;
}
.button-view-full-menu a {
  background: white;
  border-radius: 3px;
  color: black;
  display: inline-block;
  padding: 10px 30px;
  transition: all 0.25s ease-out;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #2a2a2a5c;
  font-weight: 600;
  cursor: pointer;
}
.button-view-full-menu a:hover {
  background-color: #2a2a2a;
  color: white !important;
  text-decoration: none;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 20%);
}

@media screen and (min-width: 320px) {
  .border-menu-section {
    background-color: #fff;
    margin: 0px 12px;
    margin-bottom: 12px;
  }
  .content-menu-section {
    padding: 20px 15px;
  }
  .content-menu-section h6 {
    font-weight: 700;
    font-size: 1.2rem;
  }
  
.ul-for-menu {
  list-style: none;
  padding: 0;
  margin: 16px 0 0;
  column-count: 1;
  column-fill: balance;
  column-gap: 32px;
}
.ul-for-menu li {
  margin-bottom: 16px;
  page-break-inside: avoid;
  break-inside: avoid;
  display: none;
}
.ul-for-menu li h4 {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
}

@media screen and (min-width: 992px) {
  .border-menu-section {
    background-color: #fff;
    margin: 0px;
    margin-bottom: 12px;
  }
  .content-menu-section {
    padding: 20px;
  }
  .content-menu-section h6 {
    font-weight: 700;
    font-size: 1.2rem;
  }
  
.ul-for-menu {
  list-style: none;
  padding: 0;
  margin: 16px 0 0;
  column-count: 2;
  column-fill: balance;
  column-gap: 32px;
}
.ul-for-menu li {
  margin-bottom: 16px;
  page-break-inside: avoid;
  break-inside: avoid;
  display: none;
}
.ul-for-menu li h4 {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
}
