


@media screen and (min-width: 320px) {
  .border-rating-reviews {
    background-color: #fff;
    margin: 0px 12px;
    padding-bottom: 20px;
  }
  .content-rating-reviews {
    padding: 20px 15px;
    padding-bottom: 0px;
  }
  .content-rating-reviews h6 {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .content-rating-reviews h5 {
    font-size: 0.85rem;
    margin-top: 13px;
  }
  .content-rating-reviews h5 span {
    font-weight: 700;
  }
  .border-review-section {
    margin: 50px 0px;
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 992px) {
  .border-rating-reviews {
    background-color: #fff;
    margin: 0px;
    padding-bottom: 0px;
  }
  .content-rating-reviews {
    padding: 20px;
    padding-bottom: 0px;
  }
  .content-rating-reviews h6 {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .content-rating-reviews h5 {
    font-size: 0.85rem;
    margin-top: 13px;
  }
  .content-rating-reviews h5 span {
    font-weight: 700;
  }
  .border-review-section {
    margin: 50px 0px;
    margin-bottom: 0px;
  }
}
