@media screen and (min-width: 280px) {
  .border-restaurent-details {
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    margin: 20px 12px 0;
  }
  .restaurent-detail-carousel{
    margin-top: 90px;
  }
  .content-restaurent-details {
    padding: 20px 15px;
  }
  .text-restaurent-title{
    font-size: 1.2rem;
  }
  .text-font-size {
    font-size: 12px;
  }
  .rating-section {
    text-align: center;
  }
  .rating-3rd-page {
    width: 100%;
    /* justify-self: right; */
    /* float: right; */
    padding: 8px 10px;
    font-size: 14px;
    display: flex;
    background-color: #439548;
    color: #ffffff;
    /* font-weight: 400; */
    /* letter-spacing: 1px; */
    border-radius: 5px;
    align-items: center;
    justify-content: center;
  }
  .rating-reviews-3rd-page{
    color: rgb(0, 131, 199);
    font-weight: 700;
    font-size: xx-small;
  }
  .openNow-arrow{
    height:8px;
    width:8px;
    margin-left:5px;
    margin-bottom:5px;
  }
  .text-section {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
}

@media screen and (min-width: 992px) {
  .border-restaurent-details {
    background-color: white;
    border-radius: 5px;
    margin: 0px;
  }
  .content-restaurent-details {
    padding: 20px;
  }
  .text-restaurent-title{
    font-size: calc(1.3rem + .6vw);
  }
  .text-font-size {
    font-size: 14px;
  }
  .rating-section {
    display: flex;
    flex-flow: column wrap-reverse;
    align-items: center;
  }
  .rating-3rd-page {
    width: 50px;
    height: 40px;
    padding: 0px;
    padding-bottom: 5px;
    display: flex;
    background-color: #439548;
    color: #ffffff;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .rating-reviews-3rd-page{
    color: rgb(0, 131, 199);
    font-weight: 700;
    font-size: 14px;
  }
  .openNow-arrow{
    height:11px;
    width:11px;
    margin-left:5px;
    margin-bottom:5px;
  }
  .text-section {
    display: flex;
    flex-direction: column;
    width: 75%;
  }
}
