body{
  font-family:Raleway;
  background-color: #ECECEC;
  overflow-x: hidden;
}

@media screen and (max-width: 460px){
/* .mobile-hide {
    display: none !important;
} */
.restaurants-links {
  margin-bottom: 90px;
}
}